<div class="container">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Angular Forms</h1>

    <div class="form-control">
      <label>Email</label>
      <input placeholder="Email" formControlName="email" type="text">
      <div class="validation" *ngIf="form.get('email').invalid && form.get('email').touched">
        <small *ngIf="form.get('email').errors.required">Поле email не може бути порожнім. </small>
        <small *ngIf="form.get('email').errors.email" >Введіть правильний email. </small>
        <small *ngIf="form.get('email').errors.restrictedRusEmail" >Email {{form.get('email').value}} заборонений Законом України </small>
      </div>    
    </div>

    <div class="form-control">
      <label>Пароль</label>
      <input type="password" placeholder="Пароль" formControlName="password">
      <div class="validation" *ngIf="form.get('password').touched && form.get('password').invalid">
        <small *ngIf="form.get('password').errors.required">Поле password не може бути порожнім.</small>
        <small *ngIf="form.get('password').errors.minlength.requiredLength">Неправильний password введіть ще {{form.get('password').errors.minlength.requiredLength - form.get('password').errors.minlength.actualLength}} символів</small>
    </div>
    </div>

    <div class="card" formGroupName="address">
      <h2>Адреса</h2>

      <div class="form-control">
        <label>Країни</label>

        <select formControlName="country">
          <option value="ua">Україна</option>
          <option value="pl">Польща</option>
          <option value="de">Німеччина</option>
        </select>
      </div>

      <div class="form-control">
        <input type="text" formControlName="city" type="text">
        <div class="validation" *ngIf="form.get('address').value.country.touched && form.get('address').value.country.invalid">
          <small *ngIf="form.get('address').value.country.errors.required">Поле столиця не може бути порожнім. </small>
          <small *ngIf="form.get('address').value.country.errors.minlength.requiredLength">Неправильна назва, мінімум 3 символи</small> 
        </div>
      </div>

      <button class="btn" type="button" (click)="setCapital()">Обрати столицю</button>
    </div>

    <div class="card" formArrayName="skills">
      <h2>Ваши навички</h2>
      <button class="btn" type="button" (click)="addSkill()">Додати навичку</button>
      <div class="form-control" *ngFor="let control of this.form.get('skills').value; let idx=index" >
        <label> Навичка {{idx+1}}</label>
        <input type="text" [formControlName]="idx">
        <button class="btn" (click)="removePost(idx)">&#10006;</button>
      </div>
    </div>
    

    <button class="btn" [disabled]="form.invalid" type="submit">Відправити</button>
  </form>
